html, body {
    height: 100%;
}

hr {
    width: 80%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.row {
    width: 100%;
}

.one-half, .one-third, .one-fourth, .one-sixth, .one-twelfth {
    float: left;
}

.one-half {
    width: 50%;
}

.one-third {
    width: calc(100% / 3);
}

.one-fourth {
    width: 25%;
}

.one-sixth {
    width: calc(100% / 6);
}

.one-twelfth {
    width: calc(100% / 12);
}

#page-loaded {
    display: none;
}